#map {
	height: 650px;
	width: 100%;
}

.leaflet-control-zoom {
	position: fixed;
	top: 60px;
	left: 10px;
	z-index: 1001;
}

.button-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	padding: 10px 0px ;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 14px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

button {
	margin: 5px;
	/* margin-left: -5px; */
	padding: 10px 15px;
	font-size: 15px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
	background: transparent;
	border-width: 2px;
	border-color: rgb(54, 118, 55);
	color: rgb(54, 118, 55);
	border-radius: 8px;
	cursor: pointer;
}

button:hover {
	background: rgb(54, 118, 55);
	color: #fefefe;
}

.show-container {
	padding: 5px;
	display: flex;
	flex-direction: column;
}

label {
	font-size: 14px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

.filter-container {
	position: relative;
	display: inline-block;
}

#filterOptions {
	margin-top: 5px;
	padding: 10px 20px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	border-radius: 5px;
	width: 180px;
	position: absolute;
	z-index: 1000;
	/* Ensure it appears above other elements */
}

#filterOptions label {
	display: block;
	margin-bottom: 5px;
}

#filterOptions div {
	margin-bottom: 5px;
}

.filter-column {
	display: flex;
	flex-direction: column;
}

.checkbox-option {
	display: flex;
	align-items: center;
}

.checkbox-option label {
	margin-left: 5px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	position: relative;
	font-size: 15px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.filter-tab {
	cursor: pointer;
	font-weight: bold;
	color: #007BFF;
	text-decoration: underline;
}

.filter-tab:hover {
	color: #0056b3;
}

.active-tab {
	color: #000;
	text-decoration: none;
	cursor: default;
}

/* 
.pin {
	height: 55px;
	aspect-ratio: 2/3;
	mask:
		conic-gradient(from -30deg at bottom, #0000, #000 1deg 59deg, #0000 60deg) bottom/100% 50% no-repeat,
		radial-gradient(circle at 50% calc(100% / 3), #000 22% 44%, #0000 44.5%);
	background: #ec1a23;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pin-circle {
	position: absolute;
	top: calc(100% / 10);
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pin-circle img {
	width: 70%;
	height: 70%;
} */