#map {
	height: 750px;
	width: 100%;
}

.leaflet-control-zoom {
	position: fixed;
	top: 60px;
	left: 10px;
	z-index: 1001;
}

.button-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	padding: 10px 0px ;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 14px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

button {
	margin: 5px;
	padding: 10px 15px;
	font-size: 15px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
	background: transparent;
	border-width: 2px;
	border-color: rgb(54, 118, 55);
	color: rgb(54, 118, 55);
	border-radius: 8px;
	cursor: pointer;
}

button:hover {
	background: rgb(54, 118, 55);
	color: #fefefe;
}

.btn-secondary {
	margin: 5px;
	padding: 5px 10px;
	font-size: 15px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
	background: transparent;
	border-width: 2px;
	border-color: rgb(54, 118, 55);
	color: rgb(54, 118, 55);
	border-radius: 8px;
	cursor: pointer;
}

.show-container {
	padding: 5px;
	display: flex;
	flex-direction: column;
}

label {
	font-size: 14px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

.filter-container {
	position: relative;
	display: inline-block;
}

#filterOptions {
	margin-top: 5px;
	padding: 10px 20px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	border-radius: 5px;
	width: 180px;
	position: absolute;
	z-index: 1000;
}

#filterOptions label {
	display: block;
	margin-bottom: 5px;
}

#filterOptions div {
	margin-bottom: 5px;
}

.filter-column {
	display: flex;
	flex-direction: column;
}

.checkbox-option {
	display: flex;
	align-items: center;
}

.checkbox-option label {
	margin-left: 5px;
}

.filter-tab {
	cursor: pointer;
	font-weight: bold;
	color: #007BFF;
	text-decoration: underline;
}

.filter-tab:hover {
	color: #0056b3;
}

.active-tab {
	color: #000;
	text-decoration: none;
	cursor: default;
}
